[mysqld]
server-id = 2
log_bin         = /var/lib/mysql/mysql-bin.log
max_binlog_size = 100M
binlog_do_db = demo
relay_log   = /var/lib/mysql/mysql-relay-bin.log

#server-id = 2
#binlog_do_db = demo
#relay-log    = /var/log/mysql/mysql-relay-bin.log